<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.salary.mapper.ChSaPaycardMapper">

	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultType="Map" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_sa_payslip record
		<include refid="whereFilter" />
		GROUP BY  NET_TARGET_YEARMONTH 
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by ${page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM ch_sa_payslip record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	    <if test="queryFields != null ">
	 	    <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		    </trim>
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 NET_TARGET_YEARMONTH,
				 WAGE_POSIT_TOTAL,
				 WAGE_NIGHT_SHIFT,
				 WAGE_OVERTIME,
				 WAGE_YEARG,
				 ALLOWANCE_HYGIENE,
				 WAGE_ERROR_CORRENT,
				 SUPP_4TEL,
				 SUPP_4OTH,
				 WAGE_TOTAL,
				 WAGE_JX_TOTAL,
				 WAGE_PAYABLE_TOTAL,
				 BX_PENSION,
				 BX_MEDICAL,
				 BX_UNEMPLOY,
				 BX_HOUSFUND,
				 BX_ANNUAL_CORP_GOLD,
				 BX_SERIOUS_ILLNESS,
				 BX_TOTAL,
				 CUT_HYGIENE,
				 CUT_ARREARS,
				 CUT_TOTAL,
				 NET_SALARY 
			]]>
	  	</if>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.name != null and entity.name != ''">
					<![CDATA[ and record.NAME  = #{entity.name} ]]>
				</if>
				<if test = "entity.startMonth != null and entity.endMonth != null">
					<![CDATA[ AND NET_TARGET_YEARMONTH BETWEEN #{entity.startMonth} AND #{entity.endMonth} ]]>
				</if>
				and record.status = 0
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultType="Map" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_sa_payslip record
		<include refid="whereFilter" />
		ORDER BY NET_TARGET_YEARMONTH DESC
	</select>
	
	<!-- 不分页查询数据集合-带序号-->
	<select id="queryListWithSerial" resultType="Map" >
		SELECT
			( @i := @i + 1 ) SERIAL_NO,
			<include refid="queryColumns"/>
	  	FROM
	  	ch_sa_payslip record,
	  	( SELECT @i := 0 ) AS i 
		<include refid="whereFilter" />
		ORDER BY NET_TARGET_YEARMONTH DESC
	</select>

	
	<select id="queryExisted" resultType="java.lang.String">
	    select card_no from ch_sa_payslip
        where card_no in
	    <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
        and NET_TARGET_YEARMONTH = #{targetMonth} and status=0
	</select>
	
	<!--拼装SQL:选择性使用表中列 -->
	<sql id="colKeys4Selective">
		<trim suffixOverrides=",">
			<if test="name != null">NAME</if>
		</trim>
	</sql>
	<!--拼装SQL:选择性使用列对应值 -->
	<sql id="colVals4Selective">
		<trim suffixOverrides=",">
			<if test="name != null">#{name,jdbcType=VARCHAR}</if>
		</trim>		
	</sql>
	
	<!-- ******************************以下为扩展方法**************************** -->
	
	<!-- 根据字段名获取所有状态正常的去重列表 -->
	<select id="querySelectFields" parameterType="java.lang.String" resultType="java.lang.String">
		
		SELECT 
			DISTINCT ${column}
		FROM
			ch_sa_payslip
		where status=0
		<if test="year != null and year != ''">
		and left(NET_TARGET_YEARMONTH,4)= #{year}
		</if>
		and ${column} != '#N/A' and ${column} is not null
	</select>
	
	
	<select id="queryLastMonth" resultType="java.lang.String">
		SELECT
			NET_TARGET_YEARMONTH
		FROM
			ch_sa_payslip 
		where status = 0
		ORDER BY
			NET_TARGET_YEARMONTH DESC
		limit 1
	</select>
	
</mapper>
