<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.salary.mapper.ChSaPaycardMapper">

	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultType="Map" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_sa_payslip record
		<include refid="whereFilter" />
		GROUP BY  NET_TARGET_YEARMONTH 
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by ${page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM ch_sa_payslip record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	  		<![CDATA[
				 NET_TARGET_YEARMONTH,
				 WAGE_POSIT_TOTAL,
				 WAGE_NIGHT_SHIFT,
				 WAGE_OVERTIME,
				 WAGE_YEARG,
				 ALLOWANCE_HYGIENE,
				 WAGE_ERROR_CORRENT,
				 SUPP_4TEL,
				 SUPP_4OTH,
				 (select REWARD_AMOUNT  FROM
					ch_sa_payslip_reward b 
					where record.CARD_NO=b.CARD_NO and b.status = 0
					AND TARGET_YEARMONTH = NET_TARGET_YEARMONTH 
					AND REWARD_ITEM='经核办绩效') VERIFY_REWARD, 
				 (select REWARD_AMOUNT  FROM
					ch_sa_payslip_reward b 
					where record.CARD_NO=b.CARD_NO  and b.status = 0
					AND TARGET_YEARMONTH = NET_TARGET_YEARMONTH 
					AND REWARD_ITEM='经合办绩效1') VERIFY_REWARD1,
				 (select REWARD_AMOUNT  FROM
					ch_sa_payslip_reward b 
					where record.CARD_NO=b.CARD_NO  and b.status = 0
					AND TARGET_YEARMONTH = NET_TARGET_YEARMONTH 
					AND REWARD_ITEM='经合办绩效2') VERIFY_REWARD2,
				 (select REWARD_AMOUNT  FROM
					ch_sa_payslip_reward b 
					where record.CARD_NO=b.CARD_NO  and b.status = 0
					AND TARGET_YEARMONTH = NET_TARGET_YEARMONTH 
					AND REWARD_ITEM='经合办绩效3') VERIFY_REWARD3,
				 (select REWARD_AMOUNT  FROM
					ch_sa_payslip_reward b 
					where record.CARD_NO=b.CARD_NO  and b.status = 0
					AND TARGET_YEARMONTH = NET_TARGET_YEARMONTH 
					AND REWARD_ITEM='经合办绩效4') VERIFY_REWARD4,
				 WAGE_TOTAL,
				 WAGE_JX_TOTAL,
				 WAGE_PAYABLE_TOTAL,
				 BX_PENSION,
				 BX_MEDICAL,
				 BX_UNEMPLOY,
				 BX_HOUSFUND,
				 BX_ANNUAL_CORP_GOLD,
				 BX_SERIOUS_ILLNESS,
				 BX_TOTAL,
				 CUT_HYGIENE,
				 CUT_ARREARS,
				 TAX_INCOME_PERSONAL,
				 CUT_TOTAL,
				 NET_SALARY 
			]]>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.name != null and entity.name != ''">
					<![CDATA[ and record.NAME  = #{entity.name} ]]>
				</if>
				<if test = "entity.cardNo != null and entity.cardNo != ''">
					<![CDATA[ and record.CARD_NO  = #{entity.cardNo} ]]>
				</if>
				<if test = "entity.startMonth != null and entity.endMonth != null">
					<![CDATA[ AND NET_TARGET_YEARMONTH BETWEEN #{entity.startMonth} AND #{entity.endMonth} ]]>
				</if>
				and record.status = 0
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultType="Map" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_sa_payslip record
		<include refid="whereFilter" />
		GROUP BY  NET_TARGET_YEARMONTH 
		ORDER BY NET_TARGET_YEARMONTH DESC
	</select>
	
	<!-- 不分页查询数据集合-带序号-->
	<select id="queryListWithSerial" resultType="Map" >
		SELECT
			( @i := @i + 1 ) SERIAL_NO,
			<include refid="queryColumns"/>
	  	FROM
	  	ch_sa_payslip record,
	  	( SELECT @i := 0 ) AS i 
		<include refid="whereFilter" />
		ORDER BY NET_TARGET_YEARMONTH DESC
	</select>
	
	<!-- ******************************以下为扩展方法**************************** -->
	
	<!-- 根据字段名获取所有状态正常的去重列表 -->
	<select id="querySelectFields" parameterType="java.lang.String" resultType="java.lang.String">
		
		SELECT 
			DISTINCT ${column}
		FROM
			ch_sa_payslip
		where status=0
		<if test="year != null and year != ''">
		and left(NET_TARGET_YEARMONTH,4)= #{year}
		</if>
		and ${column} != '#N/A' and ${column} is not null
	</select>
	
	
	<select id="queryLastMonth" resultType="java.lang.String">
		SELECT
			NET_TARGET_YEARMONTH
		FROM
			ch_sa_payslip 
		where status = 0
		ORDER BY
			NET_TARGET_YEARMONTH DESC
		limit 1
	</select>
	
</mapper>
