<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.central.mapper.AlarmSetMapper">
	<!-- 返回值映射map -->
	<resultMap id="AlarmSetMapper" type="com.hdfs.olo.olo_web.central.model.AlarmSetModel">
		<result property="id" column="ID" jdbcType="BIGINT"/>
		<result property="alarmType" column="ALARM_TYPE" jdbcType="INTEGER"/>
		<result property="alarmAdSize" column="ALARM_AD_SIZE" jdbcType="INTEGER"/>
		<result property="alarmAdUnit" column="ALARM_AD_UNIT" jdbcType="VARCHAR"/>
		<result property="alarmTeInfo" column="ALARM_TE_INFO" jdbcType="VARCHAR"/>
		<result property="status" column="STATUS" jdbcType="INTEGER"/>
		<result property="remark" column="REMARK" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultMap="AlarmSetMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM alarm_set record
		<include refid="whereFilter" />
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by #{page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM alarm_set record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	    <if test="queryFields != null ">
	 	    <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		    </trim>
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 ID, 
				 ALARM_TYPE, 
				 ALARM_AD_SIZE, 
				 ALARM_AD_UNIT, 
				 ALARM_TE_INFO, 
				 STATUS, 
				 REMARK, 
				 CREATE_TIME, 
				 UPDATE_TIME 
			]]>
	  	</if>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.ID  = #{entity.id} ]]>
				</if>
				<if test = "entity.alarmType != null and entity.alarmType != ''">
					<![CDATA[ and record.ALARM_TYPE  = #{entity.alarmType} ]]>
				</if>
				<if test = "entity.alarmAdSize != null and entity.alarmAdSize != ''">
					<![CDATA[ and record.ALARM_AD_SIZE  = #{entity.alarmAdSize} ]]>
				</if>
				<if test = "entity.alarmAdUnit != null and entity.alarmAdUnit != ''">
					<![CDATA[ and record.ALARM_AD_UNIT  = #{entity.alarmAdUnit} ]]>
				</if>
				<if test = "entity.alarmTeInfo != null and entity.alarmTeInfo != ''">
					<![CDATA[ and record.ALARM_TE_INFO  = #{entity.alarmTeInfo} ]]>
				</if>
				<if test = "entity.status != null">
					<![CDATA[ and record.STATUS  = #{entity.status} ]]>
				</if>
				<if test = "entity.remark != null and entity.remark != ''">
					<![CDATA[ and record.REMARK  = #{entity.remark} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.CREATE_TIME  = #{entity.createTime} ]]>
				</if>
				<if test = "entity.updateTime != null and entity.updateTime != ''">
					<![CDATA[ and record.UPDATE_TIME  = #{entity.updateTime} ]]>
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultMap="AlarmSetMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM alarm_set record
		<include refid="whereFilter" />
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryById" resultMap="AlarmSetMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM alarm_set record
		WHERE 
		 record.id = #{id}
	</select>
	
	<!--拼装SQL:选择性使用表中列 -->
	<sql id="colKeys4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="alarmType != null">ALARM_TYPE,</if>
			<if test="alarmAdSize != null">ALARM_AD_SIZE,</if>
			<if test="alarmAdUnit != null">ALARM_AD_UNIT,</if>
			<if test="alarmTeInfo != null">ALARM_TE_INFO,</if>
			<if test="status != null">STATUS,</if>
			<if test="remark != null">REMARK,</if>
			CREATE_TIME,
			UPDATE_TIME,
		</trim>
	</sql>
	<!--拼装SQL:选择性使用列对应值 -->
	<sql id="colVals4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=BIGINT},</if>
			<if test="alarmType != null">#{alarmType,jdbcType=INTEGER},</if>
			<if test="alarmAdSize != null">#{alarmAdSize,jdbcType=INTEGER},</if>
			<if test="alarmAdUnit != null">#{alarmAdUnit,jdbcType=VARCHAR},</if>
			<if test="alarmTeInfo != null">#{alarmTeInfo,jdbcType=VARCHAR},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
			now(),
			now(),
		</trim>		
	</sql>
	
	<!-- 新增(单条) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insert" parameterType="com.hdfs.olo.olo_web.central.model.AlarmSetModel">
		INSERT INTO alarm_set(
			<include refid="colKeys4Selective"/>
		)VALUES(
			<include refid="colVals4Selective"/>
		)
	</insert>
	
	<!-- 新增(批量) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO alarm_set
        (
			ID,
			ALARM_TYPE,
			ALARM_AD_SIZE,
			ALARM_AD_UNIT,
			ALARM_TE_INFO,
			STATUS,
			REMARK,
			CREATE_TIME,
			UPDATE_TIME
        ) 
        VALUES
        <foreach collection="list" separator="," item="item">
        (
			#{item.id,jdbcType=BIGINT},
			#{item.alarmType,jdbcType=INTEGER},
			#{item.alarmAdSize,jdbcType=INTEGER},
			#{item.alarmAdUnit,jdbcType=VARCHAR},
			#{item.alarmTeInfo,jdbcType=VARCHAR},
			#{item.status,jdbcType=INTEGER},
			#{item.remark,jdbcType=VARCHAR},
			now(),
			now()
        )
        </foreach>
	</insert>
	
	<!-- 更新(单条) -->
	<update id="update" parameterType="com.hdfs.olo.olo_web.central.model.AlarmSetModel">
		UPDATE alarm_set record 
		<set>
			<if test = "alarmType != null ">
				record.ALARM_TYPE = #{alarmType,jdbcType=INTEGER},
			</if>
			<if test = "alarmAdSize != null ">
				record.ALARM_AD_SIZE = #{alarmAdSize,jdbcType=INTEGER},
			</if>
			<if test = "alarmAdUnit != null ">
				record.ALARM_AD_UNIT = #{alarmAdUnit,jdbcType=VARCHAR},
			</if>
			<if test = "alarmTeInfo != null ">
				record.ALARM_TE_INFO = #{alarmTeInfo,jdbcType=VARCHAR},
			</if>
			<if test = "status != null">
				record.STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test = "remark != null ">
				record.REMARK = #{remark,jdbcType=VARCHAR},
			</if>
				record.UPDATE_TIME = now()
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 删除(单条-物理) -->
	<delete id="delById">
		DELETE FROM alarm_set 
		WHERE id = #{id}
	</delete>
	
	<!-- 删除(单条-逻辑) -->
	<update id="delById4Logic">
		UPDATE alarm_set 
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id = #{id}
	</update>
	
	<!-- 删除(批量-物理) -->
	<delete id="delBatchByIds" parameterType="java.util.List">
		DELETE FROM alarm_set  
		WHERE id IN
		<foreach collection="list" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>

	<!-- 删除(批量-逻辑) -->
	<update id="delBatchByIds4Logic" parameterType="java.util.List">
		UPDATE alarm_set  
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id IN
			<foreach collection="list" open="(" separator="," close=")" item="item">
				#{item}
			</foreach>
	</update>
	
	<!-- ******************************以下为扩展方法**************************** -->
</mapper>
