<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.central.mapper.SysProvinceMapper">
	<!-- 返回值映射map -->
	<resultMap id="sysProvinceMapper" type="com.hdfs.olo.olo_web.central.model.SysProvinceModel">
		<result property="provNo" column="prov_no" jdbcType="INTEGER"/>
		<result property="provName" column="prov_name" jdbcType="VARCHAR"/>
		<result property="provEn" column="prov_en" jdbcType="VARCHAR"/>
		<result property="sorts" column="sorts" jdbcType="INTEGER"/>
		<result property="lat" column="lat" jdbcType="VARCHAR"/>
		<result property="status" column="status" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultMap="sysProvinceMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM sys_province record
		<include refid="whereFilter" />
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by #{page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM sys_province record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	    <if test="queryFields != null ">
	 	    <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		    </trim>
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 prov_no, 
				 prov_name, 
				 prov_en, 
				 sorts, 
				 lat, 
				 status 
			]]>
	  	</if>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.provNo != null and entity.provNo != ''">
					<![CDATA[ and record.prov_no  = #{entity.provNo} ]]>
				</if>
				<if test = "entity.provName != null and entity.provName != ''">
					<![CDATA[ and record.prov_name  = #{entity.provName} ]]>
				</if>
				<if test = "entity.provEn != null and entity.provEn != ''">
					<![CDATA[ and record.prov_en  = #{entity.provEn} ]]>
				</if>
				<if test = "entity.sorts != null and entity.sorts != ''">
					<![CDATA[ and record.sorts  = #{entity.sorts} ]]>
				</if>
				<if test = "entity.lat != null and entity.lat != ''">
					<![CDATA[ and record.lat  = #{entity.lat} ]]>
				</if>
				<if test = "entity.status != null and entity.status != ''">
					<![CDATA[ and record.status  = #{entity.status} ]]>
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultMap="sysProvinceMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM sys_province record
		<include refid="whereFilter" />
		ORDER BY PROV_NO ASC
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryById" resultMap="sysProvinceMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM sys_province record
		WHERE 
		 record.prov_no = #{id}
	</select>
	
	<!--拼装SQL:选择性使用表中列 -->
	<sql id="colKeys4Selective">
		<trim suffixOverrides=",">
			<if test="provNo != null">prov_no,</if>
			<if test="provName != null">prov_name,</if>
			<if test="provEn != null">prov_en,</if>
			<if test="sorts != null">sorts,</if>
			<if test="lat != null">lat,</if>
			<if test="status != null">status,</if>
		</trim>
	</sql>
	<!--拼装SQL:选择性使用列对应值 -->
	<sql id="colVals4Selective">
		<trim suffixOverrides=",">
			<if test="provNo != null">#{provNo,jdbcType=INTEGER},</if>
			<if test="provName != null">#{provName,jdbcType=VARCHAR},</if>
			<if test="provEn != null">#{provEn,jdbcType=VARCHAR},</if>
			<if test="sorts != null">#{sorts,jdbcType=INTEGER},</if>
			<if test="lat != null">#{lat,jdbcType=VARCHAR},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
		</trim>		
	</sql>
	<!--拼装SQL:选择性使用列对应值(针对批量操作使用) -->
	<sql id="colVals4Itemive">
		<trim suffixOverrides=",">
			<if test="provNo != null">#{item.provNo,jdbcType=INTEGER},</if>
			<if test="provName != null">#{item.provName,jdbcType=VARCHAR},</if>
			<if test="provEn != null">#{item.provEn,jdbcType=VARCHAR},</if>
			<if test="sorts != null">#{item.sorts,jdbcType=INTEGER},</if>
			<if test="lat != null">#{item.lat,jdbcType=VARCHAR},</if>
			<if test="status != null">#{item.status,jdbcType=INTEGER},</if>
		</trim>		
	</sql>
	
	<!-- 新增(单条) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insert" parameterType="com.hdfs.olo.olo_web.central.model.SysProvinceModel">
		INSERT INTO sys_province(
			<include refid="colKeys4Selective"/>
		)VALUES(
			<include refid="colVals4Selective"/>
		)
	</insert>
	
	<!-- 新增(批量) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO sys_province
        (
        	<include refid="colKeys4Selective"/>
        ) 
        VALUES
        <foreach collection="list" separator="," item="item">
        (
            <include refid="colVals4Itemive"/>
        )
        </foreach>
	</insert>
	
	<!-- 更新(单条) -->
	<update id="update" parameterType="com.hdfs.olo.olo_web.central.model.SysProvinceModel">
		UPDATE sys_province record 
		<set>
			<if test = "provName != null ">
				record.prov_name = #{provName,jdbcType=VARCHAR},
			</if>
			<if test = "provEn != null ">
				record.prov_en = #{provEn,jdbcType=VARCHAR},
			</if>
			<if test = "sorts != null ">
				record.sorts = #{sorts,jdbcType=INTEGER},
			</if>
			<if test = "lat != null ">
				record.lat = #{lat,jdbcType=VARCHAR},
			</if>
			<if test = "status != null ">
				record.status = #{status,jdbcType=INTEGER}
			</if>
		</set>
		WHERE prov_no = #{provNo}
	</update>
	
	<!-- 删除(单条-物理) -->
	<delete id="delById">
		DELETE FROM sys_province 
		WHERE prov_no = #{id}
	</delete>
	
	<!-- 删除(单条-逻辑) -->
	<update id="delById4Logic">
		UPDATE sys_province 
		SET status = '1',
			UPDATE_TIME = now()
		WHERE prov_no = #{id}
	</update>
	
	<!-- 删除(批量-物理) -->
	<delete id="delBatchByIds" parameterType="java.util.List">
		DELETE FROM sys_province  
		WHERE prov_no IN
		<foreach collection="list" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>

	<!-- 删除(批量-逻辑) -->
	<update id="delBatchByIds4Logic" parameterType="java.util.List">
		UPDATE sys_province  
		SET status = '1',
			UPDATE_TIME = now()
		WHERE prov_no IN
			<foreach collection="list" open="(" separator="," close=")" item="item">
				#{item}
			</foreach>
	</update>
	
	<!-- ******************************以下为扩展方法**************************** -->
</mapper>
