<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.personnel.mapper.ChPmSkillsHeadMapper">
	<!-- 返回值映射map -->
	<resultMap id="chPmSkillsHeadMapper" type="com.hdfs.olo.olo_web.personnel.model.ChPmSkillsHeadModel">
		<result property="id" column="ID" jdbcType="BIGINT"/>
		<result property="workerId" column="WORKER_ID" jdbcType="BIGINT"/>
		<result property="skills4now" column="SKILLS_4NOW" jdbcType="INTEGER"/>
		<result property="skills4nowCn" column="SKILLS_4NOW_CN" jdbcType="VARCHAR"/>
		<result property="skills4nowGotTime" column="SKILLS_4NOW_GOT_TIME" jdbcType="TIMESTAMP"/>
		<result property="skillsClass4now" column="SKILLS_CLASS_4NOW" jdbcType="INTEGER"/>
		<result property="skillsClass4nowCn" column="SKILLS_CLASS_4NOW_CN" jdbcType="VARCHAR"/>
		<result property="skillsLevel4now" column="SKILLS_LEVEL_4NOW" jdbcType="INTEGER"/>
		<result property="skillsLevel4nowCn" column="SKILLS_LEVEL_4NOW_CN" jdbcType="VARCHAR"/>
		<result property="treatLevel4now" column="TREAT_LEVEL_4NOW" jdbcType="INTEGER"/>
		<result property="treatLevel4nowCn" column="TREAT_LEVEL_4NOW_CN" jdbcType="VARCHAR"/>
		<result property="skills4nowHStartTime" column="SKILLS_4NOW_H_START_TIME" jdbcType="TIMESTAMP"/>
		<result property="skills4nowHEndTime" column="SKILLS_4NOW_H_END_TIME" jdbcType="TIMESTAMP"/>
		<result property="skillsMax4now" column="SKILLS_MAX_4NOW" jdbcType="INTEGER"/>
		<result property="status" column="STATUS" jdbcType="INTEGER"/>
		<result property="remark" column="REMARK" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultMap="chPmSkillsHeadMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_skills_head record
		<include refid="whereFilter" />
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by #{page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM ch_pm_skills_head record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	    <if test="queryFields != null ">
	 	    <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		    </trim>
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 ID, 
				 WORKER_ID, 
				 SKILLS_4NOW, 
				 SKILLS_4NOW_CN, 
				 SKILLS_4NOW_GOT_TIME, 
				 SKILLS_CLASS_4NOW, 
				 SKILLS_CLASS_4NOW_CN, 
				 SKILLS_LEVEL_4NOW, 
				 SKILLS_LEVEL_4NOW_CN, 
				 TREAT_LEVEL_4NOW, 
				 TREAT_LEVEL_4NOW_CN, 
				 SKILLS_4NOW_H_START_TIME, 
				 SKILLS_4NOW_H_END_TIME, 
				 SKILLS_MAX_4NOW, 
				 STATUS, 
				 REMARK, 
				 CREATE_TIME, 
				 UPDATE_TIME 
			]]>
	  	</if>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.ID  = #{entity.id} ]]>
				</if>
				<if test = "entity.workerId != null and entity.workerId != ''">
					<![CDATA[ and record.WORKER_ID  = #{entity.workerId} ]]>
				</if>
				<if test = "entity.skills4now != null and entity.skills4now != ''">
					<![CDATA[ and record.SKILLS_4NOW  = #{entity.skills4now} ]]>
				</if>
				<if test = "entity.skills4nowCn != null and entity.skills4nowCn != ''">
					<![CDATA[ and record.SKILLS_4NOW_CN  = #{entity.skills4nowCn} ]]>
				</if>
				<if test = "entity.skills4nowGotTime != null and entity.skills4nowGotTime != ''">
					<![CDATA[ and record.SKILLS_4NOW_GOT_TIME  = #{entity.skills4nowGotTime} ]]>
				</if>
				<if test = "entity.skillsClass4now != null and entity.skillsClass4now != ''">
					<![CDATA[ and record.SKILLS_CLASS_4NOW  = #{entity.skillsClass4now} ]]>
				</if>
				<if test = "entity.skillsClass4nowCn != null and entity.skillsClass4nowCn != ''">
					<![CDATA[ and record.SKILLS_CLASS_4NOW_CN  = #{entity.skillsClass4nowCn} ]]>
				</if>
				<if test = "entity.skillsLevel4now != null and entity.skillsLevel4now != ''">
					<![CDATA[ and record.SKILLS_LEVEL_4NOW  = #{entity.skillsLevel4now} ]]>
				</if>
				<if test = "entity.skillsLevel4nowCn != null and entity.skillsLevel4nowCn != ''">
					<![CDATA[ and record.SKILLS_LEVEL_4NOW_CN  = #{entity.skillsLevel4nowCn} ]]>
				</if>
				<if test = "entity.treatLevel4now != null and entity.treatLevel4now != ''">
					<![CDATA[ and record.TREAT_LEVEL_4NOW  = #{entity.treatLevel4now} ]]>
				</if>
				<if test = "entity.treatLevel4nowCn != null and entity.treatLevel4nowCn != ''">
					<![CDATA[ and record.TREAT_LEVEL_4NOW_CN  = #{entity.treatLevel4nowCn} ]]>
				</if>
				<if test = "entity.skills4nowHStartTime != null and entity.skills4nowHStartTime != ''">
					<![CDATA[ and record.SKILLS_4NOW_H_START_TIME  = #{entity.skills4nowHStartTime} ]]>
				</if>
				<if test = "entity.skills4nowHEndTime != null and entity.skills4nowHEndTime != ''">
					<![CDATA[ and record.SKILLS_4NOW_H_END_TIME  = #{entity.skills4nowHEndTime} ]]>
				</if>
				<if test = "entity.skillsMax4now != null and entity.skillsMax4now != ''">
					<![CDATA[ and record.SKILLS_MAX_4NOW  = #{entity.skillsMax4now} ]]>
				</if>
				<if test = "entity.status != null">
					<![CDATA[ and record.STATUS  = #{entity.status} ]]>
				</if>
				<if test = "entity.remark != null and entity.remark != ''">
					<![CDATA[ and record.REMARK  = #{entity.remark} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.CREATE_TIME  = #{entity.createTime} ]]>
				</if>
				<if test = "entity.updateTime != null and entity.updateTime != ''">
					<![CDATA[ and record.UPDATE_TIME  = #{entity.updateTime} ]]>
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultMap="chPmSkillsHeadMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_skills_head record
		<include refid="whereFilter" />
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryById" resultMap="chPmSkillsHeadMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_skills_head record
		WHERE 
		 record.id = #{id}
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryByWkId" resultMap="chPmSkillsHeadMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_skills_head record
		WHERE 
		 record.WORKER_ID = #{wkId}
		 and record.status =0
		 limit 1
	</select>
	
	<!--拼装SQL:选择性使用表中列 -->
	<sql id="colKeys4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="workerId != null">WORKER_ID,</if>
			<if test="skills4now != null">SKILLS_4NOW,</if>
			<if test="skills4nowCn != null">SKILLS_4NOW_CN,</if>
			<if test="skills4nowGotTime != null">SKILLS_4NOW_GOT_TIME,</if>
			<if test="skillsClass4now != null">SKILLS_CLASS_4NOW,</if>
			<if test="skillsClass4nowCn != null">SKILLS_CLASS_4NOW_CN,</if>
			<if test="skillsLevel4now != null">SKILLS_LEVEL_4NOW,</if>
			<if test="skillsLevel4nowCn != null">SKILLS_LEVEL_4NOW_CN,</if>
			<if test="treatLevel4now != null">TREAT_LEVEL_4NOW,</if>
			<if test="treatLevel4nowCn != null">TREAT_LEVEL_4NOW_CN,</if>
			<if test="skills4nowHStartTime != null">SKILLS_4NOW_H_START_TIME,</if>
			<if test="skills4nowHEndTime != null">SKILLS_4NOW_H_END_TIME,</if>
			<if test="skillsMax4now != null">SKILLS_MAX_4NOW,</if>
			<if test="status != null">STATUS,</if>
			<if test="remark != null">REMARK,</if>
			CREATE_TIME,
			UPDATE_TIME,
		</trim>
	</sql>
	<!--拼装SQL:选择性使用列对应值 -->
	<sql id="colVals4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=BIGINT},</if>
			<if test="workerId != null">#{workerId,jdbcType=BIGINT},</if>
			<if test="skills4now != null">#{skills4now,jdbcType=INTEGER},</if>
			<if test="skills4nowCn != null">#{skills4nowCn,jdbcType=VARCHAR},</if>
			<if test="skills4nowGotTime != null">#{skills4nowGotTime,jdbcType=TIMESTAMP},</if>
			<if test="skillsClass4now != null">#{skillsClass4now,jdbcType=INTEGER},</if>
			<if test="skillsClass4nowCn != null">#{skillsClass4nowCn,jdbcType=VARCHAR},</if>
			<if test="skillsLevel4now != null">#{skillsLevel4now,jdbcType=INTEGER},</if>
			<if test="skillsLevel4nowCn != null">#{skillsLevel4nowCn,jdbcType=VARCHAR},</if>
			<if test="treatLevel4now != null">#{treatLevel4now,jdbcType=INTEGER},</if>
			<if test="treatLevel4nowCn != null">#{treatLevel4nowCn,jdbcType=VARCHAR},</if>
			<if test="skills4nowHStartTime != null">#{skills4nowHStartTime,jdbcType=TIMESTAMP},</if>
			<if test="skills4nowHEndTime != null">#{skills4nowHEndTime,jdbcType=TIMESTAMP},</if>
			<if test="skillsMax4now != null">#{skillsMax4now,jdbcType=INTEGER},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
			now(),
			now(),
		</trim>		
	</sql>
	<!--拼装SQL:选择性使用列对应值(针对批量操作使用) -->
	<sql id="colVals4Itemive">
		<trim suffixOverrides=",">
			<if test="id != null">#{item.id,jdbcType=BIGINT},</if>
			<if test="workerId != null">#{item.workerId,jdbcType=BIGINT},</if>
			<if test="skills4now != null">#{item.skills4now,jdbcType=INTEGER},</if>
			<if test="skills4nowCn != null">#{item.skills4nowCn,jdbcType=VARCHAR},</if>
			<if test="skills4nowGotTime != null">#{item.skills4nowGotTime,jdbcType=TIMESTAMP},</if>
			<if test="skillsClass4now != null">#{item.skillsClass4now,jdbcType=INTEGER},</if>
			<if test="skillsClass4nowCn != null">#{item.skillsClass4nowCn,jdbcType=VARCHAR},</if>
			<if test="skillsLevel4now != null">#{item.skillsLevel4now,jdbcType=INTEGER},</if>
			<if test="skillsLevel4nowCn != null">#{item.skillsLevel4nowCn,jdbcType=VARCHAR},</if>
			<if test="treatLevel4now != null">#{item.treatLevel4now,jdbcType=INTEGER},</if>
			<if test="treatLevel4nowCn != null">#{item.treatLevel4nowCn,jdbcType=VARCHAR},</if>
			<if test="skills4nowHStartTime != null">#{item.skills4nowHStartTime,jdbcType=TIMESTAMP},</if>
			<if test="skills4nowHEndTime != null">#{item.skills4nowHEndTime,jdbcType=TIMESTAMP},</if>
			<if test="skillsMax4now != null">#{item.skillsMax4now,jdbcType=INTEGER},</if>
			<if test="status != null">#{item.status,jdbcType=INTEGER},</if>
			<if test="remark != null">#{item.remark,jdbcType=VARCHAR},</if>
			now(),
			now(),
		</trim>		
	</sql>
	
	<!-- 新增(单条) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insert" parameterType="com.hdfs.olo.olo_web.personnel.model.ChPmSkillsHeadModel">
		INSERT INTO ch_pm_skills_head(
			<include refid="colKeys4Selective"/>
		)VALUES(
			<include refid="colVals4Selective"/>
		)
	</insert>
	
	<!-- 新增(批量) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ch_pm_skills_head
        (
        	 WORKER_ID, 
			 SKILLS_4NOW, 
			 SKILLS_4NOW_CN, 
			 SKILLS_4NOW_GOT_TIME, 
			 SKILLS_CLASS_4NOW, 
			 SKILLS_CLASS_4NOW_CN, 
			 SKILLS_LEVEL_4NOW, 
			 SKILLS_LEVEL_4NOW_CN, 
			 TREAT_LEVEL_4NOW, 
			 TREAT_LEVEL_4NOW_CN, 
			 SKILLS_4NOW_H_START_TIME, 
			 SKILLS_4NOW_H_END_TIME, 
			 SKILLS_MAX_4NOW, 
			 STATUS, 
			 REMARK, 
			 CREATE_TIME, 
			 UPDATE_TIME 
        ) 
        VALUES
        <foreach collection="list" separator="," item="item">
        (
            #{item.workerId,jdbcType=BIGINT},
			#{item.skills4now,jdbcType=INTEGER},
			#{item.skills4nowCn,jdbcType=VARCHAR},
			#{item.skills4nowGotTime,jdbcType=TIMESTAMP},
			#{item.skillsClass4now,jdbcType=INTEGER},
			#{item.skillsClass4nowCn,jdbcType=VARCHAR},
			#{item.skillsLevel4now,jdbcType=INTEGER},
			#{item.skillsLevel4nowCn,jdbcType=VARCHAR},
			#{item.treatLevel4now,jdbcType=INTEGER},
			#{item.treatLevel4nowCn,jdbcType=VARCHAR},
			#{item.skills4nowHStartTime,jdbcType=TIMESTAMP},
			#{item.skills4nowHEndTime,jdbcType=TIMESTAMP},
			#{item.skillsMax4now,jdbcType=INTEGER},
			#{item.status,jdbcType=INTEGER},
			#{item.remark,jdbcType=VARCHAR},
			now(),
			now()
        )
        </foreach>
	</insert>
	
	<!-- 更新(单条) -->
	<update id="update" parameterType="com.hdfs.olo.olo_web.personnel.model.ChPmSkillsHeadModel">
		UPDATE ch_pm_skills_head record 
		<set>
			<if test = "id != null ">
				record.ID = #{id,jdbcType=BIGINT},
			</if>
			<if test = "workerId != null ">
				record.WORKER_ID = #{workerId,jdbcType=BIGINT},
			</if>
			<if test = "skills4now != null ">
				record.SKILLS_4NOW = #{skills4now,jdbcType=INTEGER},
			</if>
			<if test = "skills4nowCn != null ">
				record.SKILLS_4NOW_CN = #{skills4nowCn,jdbcType=VARCHAR},
			</if>
			<if test = "skills4nowGotTime != null ">
				record.SKILLS_4NOW_GOT_TIME = #{skills4nowGotTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "skillsClass4now != null ">
				record.SKILLS_CLASS_4NOW = #{skillsClass4now,jdbcType=INTEGER},
			</if>
			<if test = "skillsClass4nowCn != null ">
				record.SKILLS_CLASS_4NOW_CN = #{skillsClass4nowCn,jdbcType=VARCHAR},
			</if>
			<if test = "skillsLevel4now != null ">
				record.SKILLS_LEVEL_4NOW = #{skillsLevel4now,jdbcType=INTEGER},
			</if>
			<if test = "skillsLevel4nowCn != null ">
				record.SKILLS_LEVEL_4NOW_CN = #{skillsLevel4nowCn,jdbcType=VARCHAR},
			</if>
			<if test = "treatLevel4now != null ">
				record.TREAT_LEVEL_4NOW = #{treatLevel4now,jdbcType=INTEGER},
			</if>
			<if test = "treatLevel4nowCn != null ">
				record.TREAT_LEVEL_4NOW_CN = #{treatLevel4nowCn,jdbcType=VARCHAR},
			</if>
			<if test = "skills4nowHStartTime != null ">
				record.SKILLS_4NOW_H_START_TIME = #{skills4nowHStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "skills4nowHEndTime != null ">
				record.SKILLS_4NOW_H_END_TIME = #{skills4nowHEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "skillsMax4now != null ">
				record.SKILLS_MAX_4NOW = #{skillsMax4now,jdbcType=INTEGER},
			</if>
			<if test = "status != null ">
				record.STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test = "remark != null ">
				record.REMARK = #{remark,jdbcType=VARCHAR},
			</if>
				record.UPDATE_TIME = now()
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 删除(单条-物理) -->
	<delete id="delById">
		DELETE FROM ch_pm_skills_head 
		WHERE id = #{id}
	</delete>
	
	<!-- 删除(单条-逻辑) -->
	<update id="delById4Logic">
		UPDATE ch_pm_skills_head 
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id = #{id}
	</update>
	
	<!-- 删除(批量-物理) -->
	<delete id="delBatchByIds" parameterType="java.util.List">
		DELETE FROM ch_pm_skills_head  
		WHERE id IN
		<foreach collection="list" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>

	<!-- 删除(批量-逻辑) -->
	<update id="delBatchByIds4Logic" parameterType="java.util.List">
		UPDATE ch_pm_skills_head  
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id IN
			<foreach collection="list" open="(" separator="," close=")" item="item">
				#{item}
			</foreach>
	</update>
	
	<!-- ******************************以下为扩展方法**************************** -->
	
	<!-- 根据身份证号批量查询职工是否存在 -->
	<select id="queryExistByCardNos" parameterType="java.util.List" resultType="java.util.Map">
        select 
        	w.id,
        	w.card_no,
			IF(IFNULL(h.WORKER_ID,-1)>=0,1,0) as head_exist
		from ch_pm_worker w 
		left join ch_pm_skills_head h on w.id = h.WORKER_ID and h.status=0
		where w.CARD_NO in 
		<foreach collection="list" open="(" separator="," close=")" item="item">
					#{item}
		</foreach>
		and w.status=0
	</select>
</mapper>
