<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdfs.olo.olo_web.personnel.mapper.ChPmIncdecInfoMapper">
	<!-- 返回值映射map -->
	<resultMap id="chPmIncdecInfoMapper" type="com.hdfs.olo.olo_web.personnel.model.ChPmIncdecInfoModel">
		<result property="id" column="ID" jdbcType="BIGINT"/>
		<result property="workerId" column="WORKER_ID" jdbcType="BIGINT"/>
		<result property="entryTime" column="ENTRY_TIME" jdbcType="TIMESTAMP"/>
		<result property="entryChan" column="ENTRY_CHAN" jdbcType="INTEGER"/>
		<result property="quitTime" column="QUIT_TIME" jdbcType="TIMESTAMP"/>
		<result property="quitReason" column="QUIT_REASON" jdbcType="INTEGER"/>
		<result property="status" column="STATUS" jdbcType="INTEGER"/>
		<result property="remark" column="REMARK" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 分页查询数据集合-->
	<select id="queryPage" resultMap="chPmIncdecInfoMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_incdec_info record
		<include refid="whereFilter" />
		<if test="page!=null">
			<if test="page.orderBy != null">
				order by #{page.orderBy}
			</if>
			limit #{page.pageOffset} , #{page.pageSize}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="query4count"/>
		<include refid="whereFilter"/>
	</select>
	
	<!--拼装SQL:查询数量公共sql -->
	<sql id="query4count">
		SELECT count(1) FROM ch_pm_incdec_info record
	</sql>
	
	<!--拼装SQL:查询字段公共sql -->
	<sql id="queryColumns">
	    <if test="queryFields != null ">
	 	    <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		    </trim>
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 ID, 
				 WORKER_ID, 
				 ENTRY_TIME, 
				 ENTRY_CHAN, 
				 QUIT_TIME, 
				 QUIT_REASON, 
				 STATUS, 
				 REMARK, 
				 CREATE_TIME, 
				 UPDATE_TIME 
			]]>
	  	</if>
	</sql>
	
	<!--拼装SQL:过滤条件 -->
	<sql id="whereFilter">
		<where> 
			<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.ID  = #{entity.id} ]]>
				</if>
				<if test = "entity.workerId != null and entity.workerId != ''">
					<![CDATA[ and record.WORKER_ID  = #{entity.workerId} ]]>
				</if>
				<if test = "entity.entryTime != null and entity.entryTime != ''">
					<![CDATA[ and record.ENTRY_TIME  = #{entity.entryTime} ]]>
				</if>
				<if test = "entity.entryChan != null and entity.entryChan != ''">
					<![CDATA[ and record.ENTRY_CHAN  = #{entity.entryChan} ]]>
				</if>
				<if test = "entity.quitTime != null and entity.quitTime != ''">
					<![CDATA[ and record.QUIT_TIME  = #{entity.quitTime} ]]>
				</if>
				<if test = "entity.quitReason != null and entity.quitReason != ''">
					<![CDATA[ and record.QUIT_REASON  = #{entity.quitReason} ]]>
				</if>
				<if test = "entity.status != null">
					<![CDATA[ and record.STATUS  = #{entity.status} ]]>
				</if>
				<if test = "entity.remark != null and entity.remark != ''">
					<![CDATA[ and record.REMARK  = #{entity.remark} ]]>
				</if>
				<if test = "entity.createTime != null and entity.createTime != ''">
					<![CDATA[ and record.CREATE_TIME  = #{entity.createTime} ]]>
				</if>
				<if test = "entity.updateTime != null and entity.updateTime != ''">
					<![CDATA[ and record.UPDATE_TIME  = #{entity.updateTime} ]]>
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 不分页查询数据集合-->
	<select id="queryList" resultMap="chPmIncdecInfoMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_incdec_info record
		<include refid="whereFilter" />
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryById" resultMap="chPmIncdecInfoMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_incdec_info record
		WHERE 
		 record.id = #{id}
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryByWkId" resultMap="chPmIncdecInfoMapper" >
		SELECT 
		<include refid="queryColumns"/>
		FROM ch_pm_incdec_info record
		WHERE 
		 record.WORKER_ID = #{wkId}
		 and record.status = 0
		 limit 1
	</select>
	
	<!--拼装SQL:选择性使用表中列 -->
	<sql id="colKeys4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="workerId != null">WORKER_ID,</if>
			<if test="entryTime != null">ENTRY_TIME,</if>
			<if test="entryChan != null">ENTRY_CHAN,</if>
			<if test="quitTime != null">QUIT_TIME,</if>
			<if test="quitReason != null">QUIT_REASON,</if>
			<if test="status != null">STATUS,</if>
			<if test="remark != null">REMARK,</if>
			CREATE_TIME,
			UPDATE_TIME,
		</trim>
	</sql>
	<!--拼装SQL:选择性使用列对应值 -->
	<sql id="colVals4Selective">
		<trim suffixOverrides=",">
			<if test="id != null">#{id,jdbcType=BIGINT},</if>
			<if test="workerId != null">#{workerId,jdbcType=BIGINT},</if>
			<if test="entryTime != null">#{entryTime,jdbcType=TIMESTAMP},</if>
			<if test="entryChan != null">#{entryChan,jdbcType=INTEGER},</if>
			<if test="quitTime != null">#{quitTime,jdbcType=TIMESTAMP},</if>
			<if test="quitReason != null">#{quitReason,jdbcType=INTEGER},</if>
			<if test="status != null">#{status,jdbcType=INTEGER},</if>
			<if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
			now(),
			now(),
		</trim>		
	</sql>
	<!--拼装SQL:选择性使用列对应值(针对批量操作使用) -->
	<sql id="colVals4Itemive">
		<trim suffixOverrides=",">
			<if test="id != null">#{item.id,jdbcType=BIGINT},</if>
			<if test="workerId != null">#{item.workerId,jdbcType=BIGINT},</if>
			<if test="entryTime != null">#{item.entryTime,jdbcType=TIMESTAMP},</if>
			<if test="entryChan != null">#{item.entryChan,jdbcType=INTEGER},</if>
			<if test="quitTime != null">#{item.quitTime,jdbcType=TIMESTAMP},</if>
			<if test="quitReason != null">#{item.quitReason,jdbcType=INTEGER},</if>
			<if test="status != null">#{item.status,jdbcType=INTEGER},</if>
			<if test="remark != null">#{item.remark,jdbcType=VARCHAR},</if>
			now(),
			now(),
		</trim>		
	</sql>
	
	<!-- 新增(单条) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insert" parameterType="com.hdfs.olo.olo_web.personnel.model.ChPmIncdecInfoModel"
		useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
		INSERT INTO ch_pm_incdec_info(
			<include refid="colKeys4Selective"/>
		)VALUES(
			<include refid="colVals4Selective"/>
		)
	</insert>
	
	<!-- 新增(批量) -->
	<!-- useGeneratedKeys="true" keyProperty="fields" keyColumn="columns" -->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ch_pm_incdec_info
        (
        	WORKER_ID,
			ENTRY_TIME,
			ENTRY_CHAN,
			QUIT_TIME,
			QUIT_REASON,
			STATUS,
			REMARK,
			CREATE_TIME,
			UPDATE_TIME
        ) 
        VALUES
        <foreach collection="list" separator="," item="item">
        (
            #{item.workerId,jdbcType=BIGINT},
			#{item.entryTime,jdbcType=TIMESTAMP},
			#{item.entryChan,jdbcType=INTEGER},
			#{item.quitTime,jdbcType=TIMESTAMP},
			#{item.quitReason,jdbcType=INTEGER},
			#{item.status,jdbcType=INTEGER},
			#{item.remark,jdbcType=VARCHAR},
			now(),
			now()
        )
        </foreach>
	</insert>
	
	<!-- 更新(单条) -->
	<update id="update" parameterType="com.hdfs.olo.olo_web.personnel.model.ChPmIncdecInfoModel">
		UPDATE ch_pm_incdec_info record 
		<set>
			<if test = "workerId != null ">
				record.WORKER_ID = #{workerId,jdbcType=BIGINT},
			</if>
			<if test = "entryTime != null ">
				record.ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "entryChan != null ">
				record.ENTRY_CHAN = #{entryChan,jdbcType=INTEGER},
			</if>
			<if test = "quitTime != null ">
				record.QUIT_TIME = #{quitTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "quitReason != null ">
				record.QUIT_REASON = #{quitReason,jdbcType=INTEGER},
			</if>
			<if test = "status != null ">
				record.STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test = "remark != null ">
				record.REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test = "createTime != null ">
				record.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test = "updateTime != null ">
				record.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 删除(单条-物理) -->
	<delete id="delById">
		DELETE FROM ch_pm_incdec_info 
		WHERE id = #{id}
	</delete>
	
	<!-- 删除(单条-逻辑) -->
	<update id="delById4Logic">
		UPDATE ch_pm_incdec_info 
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id = #{id}
	</update>
	
	<!-- 删除(批量-物理) -->
	<delete id="delBatchByIds" parameterType="java.util.List">
		DELETE FROM ch_pm_incdec_info  
		WHERE id IN
		<foreach collection="list" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>

	<!-- 删除(批量-逻辑) -->
	<update id="delBatchByIds4Logic" parameterType="java.util.List">
		UPDATE ch_pm_incdec_info  
		SET status = '1',
			UPDATE_TIME = now()
		WHERE id IN
			<foreach collection="list" open="(" separator="," close=")" item="item">
				#{item}
			</foreach>
	</update>
	
	<!-- ******************************以下为扩展方法**************************** -->
</mapper>
